<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8" />
<meta name="Generator" content="Drupal 9 (https://www.drupal.org); Commerce 2" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="core/misc/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="canonical" href="campaigns.html" />
<link rel="shortlink" href="node/103.html" />
<title>Categories | ElixirFunds - Crowdfunding &amp; Charity Drupal 9 Theme</title>
<link rel="stylesheet" media="all" href="sites/default/files/css/css_bB6b9CYtD-T-uyT8qYSOg7Pu5ZvgA8mTjjaa4TezX44.css" />
<link rel="stylesheet" media="all" href="http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" />
<link rel="stylesheet" media="all" href="http://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&amp;display=swap" />
<link rel="stylesheet" media="all" href="sites/default/files/css/css_u2qOcv3Rft2crTOnQPi84aY2P9MhN5kojk6_g6WfeRI.css" />
<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/krowd\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/103","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxTrustedUrl":{"form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM":true,"\/krowd\/search\/node":true},"user":{"uid":0,"permissionsHash":"2bddcdb984f10091956b0d414eef0381b359ef2a7c1cb6775893e58543350ff2"}}</script>
<script src="sites/default/files/js/js_Aqts2-Y0J9ZRpd6n1buLHV935bVZI9c7b-E47sv--o4.js"></script>
<style type="text/css">.el-89159550 > .bb-inner{padding-top:75px; padding-bottom:90px}
@media(max-width: 1199.98px){.el-89159550 > .bb-inner{padding-top:25px; padding-bottom:40px}}
</style>
</head>
<body class="hidden-title gavias-pagebuilder layout-no-sidebars wide not-preloader path-node node--type-page">
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
<div class="body-page gva-body-page">

<%- include("./partials/navbar.ejs")%>

<div class="breadcrumbs">
<div>
<div class="breadcrumb-content-inner">
<div class="gva-breadcrumb-content">
<div id="block-krowd-sub-breadcrumbs" class="text-light block gva-block-breadcrumb block-system block-system-breadcrumb-block no-title">
<div class="breadcrumb-style gva-parallax-background" style="background-color: #F6F6F6;background-image: url(%27/krowd/themes/custom/krowd/assets/images/breadcrumb.html);background-position: center top;background-repeat: no-repeat;">
<div class="breadcrumb-content-main">
<h2 class="page-title">Campaigns </h2>
<div class="breacrumb-link-content">
<div class="">
<div class="content block-content"><div class="breadcrumb-links">
<div class="content-inner">
<nav class="breadcrumb " aria-labelledby="system-breadcrumb">
<h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
<ol>
<li>
<a href="home-1.html">Home</a>
</li>
</ol>
</nav>
</div>
</div> </div>
</div>
</div>
</div>
<div class="gva-parallax-inner skrollable skrollable-between" data-bottom-top="top: -50%;" data-top-bottom="top: 50%;"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div role="main" class="main main-page">
<div class="clearfix"></div>
<div class="help gav-help-region">
<div class="container">
<div class="content-inner">
<div>
<div data-drupal-messages-fallback class="hidden"></div>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
<div id="content" class="content content-full">
<div class="container-full">
<div class="content-main-inner">
<div id="page-main-content" class="main-content">
<div class="main-content-inner">
<div class="content-main">
<div>
<div id="block-krowd-sub-mainpagecontent" class="block block-system block-system-main-block no-title">
<div class="content block-content">

<article data-history-node-id="103" role="article" typeof="schema:WebPage" class="node node--type-page node--view-mode-full">
<header>
<div class="container">
<h2 class="title"><span><span property="schema:name">Campaigns</span>
</span></h2>
</div>
</header>
<div class="node__content clearfix">
<div class="gavias-builder--content"> <div class="gbb-row-wrapper">
<div class=" gbb-row  bg-size-cover el-89159550 ">
<div class="bb-inner default">
<div class="bb-container container">
<div class="row row-wrapper">
<div class="gsc-column el-52332182 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12   ">
<div class="column-inner  bg-size-cover ">
<div class="column-content-inner">
<div><div class="widget block clearfix gsc-block-view  gsc-block-drupal block-view title-align-left  text-dark remove-margin-off"><div class="views-element-container"><div class="gva-view js-view-dom-id-5507ba83cf8772ffb1a90efcf4a91bc7b3c2a11407f6703ce853704faa5a53f6">
<div class="gva-view-grid">
<div class="gva-view-grid-inner lg-block-grid-3 md-block-grid-3 sm-block-grid-2 xs-block-grid-1">

<% fundRaiserinfo.forEach(c=>{ %>
<div class="item-columns">
<div><div class="campaign-block campaign-block-1">
<div class="campaign-block-inner">
<div class="campaign-content">
<div class="campaign-meta clearfix">
<div class="campaign-categories">
<div class="field field--name-field-campaign-category field--type-entity-reference field--label-hidden field__items">
<div class="field__item"><a href="#" hreflang="en">
  <% category.forEach(cc=>{ %>
    <% if(c.catid==cc._id){ %>
      <%=cc.category_name%>
  <%}})%>
</a></div>
</div>
</div>
<div class="camapign-time">
<i class="far fa-clock"></i><span class="time-remaining-desc"><%=parseInt(( c.end_date - c.created_date) / (1000 * 60 * 60 * 24))%></span><span class="time-remaining-name"> Days left </span>
</div>
</div>
<div class="campaign-title clearfix">
<h4 class="title"><a href="/donate/<%=c._id%>" rel="bookmark"><%=c.proj_title%></a> </h4>
</div>
<div class="campaign-goal">
<span class="goal">Goal</span>
<span class="value-goal">
<span class="field field--name-field-campaign-goal field--type-commerce-price field--label-hidden field__item">₹ <%=c.target_amt%></span>
</span>
</div>
</div>
</div>
</div>
</div>
</div>
<% })%>
</div>
</div>
</div>
</div>
</div></div> </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<%- include("./partials/footer.ejs")%>
</div>
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="sites/default/files/js/js_83utVJ3dLBro3cpnRZXUO4YRpvR9Y_oqKWNyDGfoPfg.js"></script>
</body>
</html>
